extends ../layout

block content

    .container.d-flex.vh-100.align-items-center
        .mx-auto
            h1 Actualizar contraseña
            form(method="post" action="/resetPassword")
                input#token(value=token,name="token", hidden)
                .form-group
                    label(for="email") Email:
                    input#email.form-control(type="email" readonly name="email" value=usuario.email class=errors.email? "is-invalid":"")
                    if errors.email
                        small#nombreHelp.text-danger=errors.email.message
                .form-group
                    label(for="password") Contraseña:
                    input#password.form-control(type="password" name="password" class=errors.password? "is-invalid":"")
                    if errors.password
                        small#nombreHelp.text-danger=errors.password.message
                .form-group
                    label(for="confirm_pwd") Confirmar contraseña:
                    input#confirm_pwd.form-control(type="password" name="confirm_pwd" class=errors.confirm_pwd? "is-invalid":"")
                    if errors.confirm_pwd
                        small#nombreHelp.text-danger=errors.confirm_pwd.message

                input.btn.btn-primary.float-right(type='submit',value="Actualizar")
                                        